<!-- voter_detail.html -->
{% extends 'voter_analytics/base.html' %}

{% block content %}
  <h2>Voter Details</h2>

  <table>
    <tr>
      <th>First Name</th>
      <td>{{ voter.first_name }}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{ voter.last_name }}</td>
    </tr>
    <tr>
      <th>Street Address</th>
      <td>{{ voter.street_number }} {{ voter.street_name }}</td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td>{{ voter.date_of_birth }}</td>
    </tr>
    <tr>
      <th>Voter Registration Date</th>
      <td>{{ voter.registration_date }}</td>
    </tr>
    <tr>
      <th>Party Affiliation</th>
      <td>{{ voter.party_affiliation }}</td>
    </tr>
    <tr>
      <th>Voter Score</th>
      <td>{{ voter.voter_score }}</td>
    </tr>
    <tr>
      <th>Voted in Past Elections</th>
      <td>
        {% for election in voter.elections.all %}
          {{ election.name }}: {{ election.voted|yesno:"Yes,No" }}<br>
        {% endfor %}
      </td>
    </tr>
  </table>

  <!-- Google Map link -->
  <h3>Visit this Voter</h3>
  <p>
    <a href="https://www.google.com/maps?q={{ voter.street_number }}+{{ voter.street_name }}" target="_blank">
      View Map of {{ voter.first_name }} {{ voter.last_name }}'s Address
    </a>
  </p>

  <p><a href="{% url 'voters' %}">Back to Voter List</a></p>
{% endblock %}
