
body {
    margin: 30px;
    background: #d1dedd;
}

ul, li {
    padding: 10px;
    list-style-type: none;
}

h1, h2, h3 {
    color: #767f7e;
}

p {
    color: #828b82;
}

header {
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;
}


